@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --breakpoint-3xl: 120rem;
}

[x-cloak] {
    display: none;
}

.header img {
    transition: all 0.3s ease;
}
.header a {
    transition: color 0.3s ease;
}

#smooth-content,
#smooth-wrapper {
    margin: 0;
    padding: 0;
}

.header-links:has(a:hover) a:not(:hover) {
    opacity: 0.5;
}

.header-links a {
    transition: opacity 300ms;
}

.glass-nav {
    background: #fff;
    transition: all 0.3s ease;
}

/* ========================================= */
/* ========= Custom Fonts ================== */
/* ========================================= */
@font-face {
    font-family: "Satoshi";
    src: url("../../public/assets/fonts/satoshi/Satoshi-Regular.woff2")
            format("woff2"),
        url("../../public/assets/fonts/satoshi/Satoshi-Regular.woff")
            format("woff"),
        url("../../public/assets/fonts/satoshi/Satoshi-Regular.ttf")
            format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("../../public/assets/fonts/satoshi/Satoshi-Medium.woff2")
            format("woff2"),
        url("../../public/assets/fonts/satoshi/Satoshi-Medium.woff")
            format("woff"),
        url("../../public/assets/fonts/satoshi/Satoshi-Medium.ttf")
            format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("../../public/assets/fonts/satoshi/Satoshi-Bold.woff2")
            format("woff2"),
        url("../../public/assets/fonts/satoshi/Satoshi-Bold.woff")
            format("woff"),
        url("../../public/assets/fonts/satoshi/Satoshi-Bold.ttf")
            format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Uncut Sans";
    src: url("../../public/assets/fonts/uncut/UncutSans-Regular.woff2")
            format("woff2"),
        url("../../public/assets/fonts/uncut/UncutSans-Regular.woff")
            format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Uncut Sans";
    src: url("../../public/assets/fonts/uncut/UncutSans-Medium.woff2")
            format("woff2"),
        url("../../public/assets/fonts/uncut/UncutSans-Medium.woff")
            format("woff");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Uncut Sans";
    src: url("../../public/assets/fonts/uncut/UncutSans-Semibold.woff2")
            format("woff2"),
        url("../../public/assets/fonts/uncut/UncutSans-Semibold.woff")
            format("woff");
    font-weight: 600;
    font-display: swap;
}

.font-uncut {
    font-family: "Uncut Sans", sans-serif;
}

.font-satoshi {
    font-family: "Satoshi", sans-serif;
}

/* ========================================= */
/* =========  Font sizes ================== */
/* ========================================= */

@layer utilities {
    .text18px-desktop {
        @apply md:!text-[1.042vw] 3xl:!text-[0.990vw];
    }

    .text20px-desktop {
        @apply md:!text-[1.157vw] 3xl:!text-[1.100vw];
    }

    .text22px-desktop {
        @apply md:!text-[1.273vw] 3xl:!text-[1.209vw];
    }

    .text26px-desktop {
        @apply md:!text-[1.505vw] 3xl:!text-[1.429vw];
    }

    .text28px-desktop {
        @apply md:!text-[1.620vw] 3xl:!text-[1.539vw];
    }

    .text32px-desktop {
        @apply md:!text-[1.852vw] 3xl:!text-[1.759vw];
    }

    .text40px-desktop {
        @apply md:!text-[2.315vw] 3xl:!text-[2.199vw];
    }

    .text42px-desktop {
        @apply md:!text-[2.431vw] 3xl:!text-[2.309vw];
    }

    .text48px-desktop {
        @apply md:!text-[2.778vw] 3xl:!text-[2.639vw];
    }

    .text56px-desktop {
        @apply md:!text-[3.241vw] 3xl:!text-[3.079vw];
    }

    .text70px-desktop {
        @apply md:!text-[4.051vw] 3xl:!text-[3.848vw];
    }

    .text72px-desktop {
        @apply md:!text-[4.167vw] 3xl:!text-[3.958vw];
    }

    .text80px-desktop {
        @apply md:!text-[4.630vw] 3xl:!text-[4.398vw];
    }

    .text120px-desktop {
        @apply md:!text-[6.944vw] 3xl:!text-[6.597vw];
    }

    .text160px-desktop {
        @apply md:!text-[9.259vw] 3xl:!text-[8.796vw];
    }

    .text220px-desktop {
        @apply md:!text-[12.731vw] 3xl:!text-[12.095vw];
    }

    .text14px-mobile {
        @apply text-[3.256vw];
    }

    .text15px-mobile {
        @apply text-[3.488vw];
    }

    .text16px-mobile {
        @apply text-[3.721vw];
    }

    .text18px-mobile {
        @apply text-[4.186vw];
    }

    .text20px-mobile {
        @apply text-[4.651vw];
    }

    .text24px-mobile {
        @apply text-[5.581vw];
    }

    .text28px-mobile {
        @apply text-[6.512vw];
    }

    .text40px-mobile {
        @apply text-[9.302vw];
    }

    .text56px-mobile {
        @apply text-[13.023vw];
    }

    .text60px-mobile {
        @apply text-[13.953vw];
    }

    .text120px-mobile {
        @apply text-[27.907vw];
    }
}
